<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0"><%= t('print_pricing.sections.basic_info') %></h5>
    </div>
    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-6">
          <%= f.label :job_name, class: "form-label" %>
          <%= f.text_field :job_name, class: "form-control", placeholder: t('print_pricing.fields.job_name_placeholder') %>
        </div>

        <div class="col-md-6">
          <%= turbo_frame_tag "printer_select_frame" do %>
            <%= f.label :printer_id, t('print_pricing.fields.select_printer'), class: "form-label" %>
            <%= f.select :printer_id,
                options_from_collection_for_select(current_user.printers, :id, :name, f.object.printer_id),
                { prompt: t('print_pricing.fields.select_printer_prompt') },
                { class: "form-select" } %>
          <% end %>
          <div class="form-text mt-2">
            <%= t('print_pricing.fields.no_printer_help') %>
            <%= link_to new_printer_path(format: :turbo_stream),
                class: "btn btn-sm btn-outline-primary ms-2",
                data: { 
                  controller: "modal-link",
                  action: "click->modal-link#open",
                  turbo_frame: "modal_content"
                } do %>
              <i class="bi bi-plus-circle"></i>
              <%= t('print_pricing.fields.add_printer_link') %>
            <% end %>
          </div>
        </div>

        <% if f.object.new_record? %>
          <%= render Forms::CheckboxFieldComponent.new(
            form: f,
            attribute: :start_with_one_print,
            label: t('print_pricing.fields.start_with_one_print'),
            hint: t('print_pricing.fields.start_with_one_print_help'),
            wrapper_class: "col-12",
            options: { checked: false, class: "form-switch" }
          ) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
