<div class="col-md-6">
  <div class="card h-100">
    <div class="card-header">
      <h5 class="mb-0"><%= t('print_pricing.sections.other_costs_tax') %></h5>
    </div>
    <div class="card-body">
      <div class="row g-3">
        <div class="col-12">
          <%= f.label :other_costs, t('print_pricing.fields.other_costs'), class: "form-label" %>
          <div class="input-group">
            <span class="input-group-text"><%= currency_symbol(current_user.default_currency) %></span>
            <%= f.number_field :other_costs, step: 0.01,
                placeholder: t('print_pricing.fields.other_costs_placeholder'),
                class: "form-control" %>
          </div>
        </div>

        <div class="col-12">
          <%= f.label :vat_percentage, t('print_pricing.fields.vat_percentage'), class: "form-label" %>
          <%= f.number_field :vat_percentage, step: 0.1,
              placeholder: t('print_pricing.fields.vat_placeholder'),
              class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
