<% if @wrapper_class %>
<div class="<%= @wrapper_class %>">
<% end %>
  <% if show_status_actions? %>
    <%= button_to t('invoices.mark_as_sent'),
        mark_as_sent_print_pricing_invoice_path(@print_pricing, @invoice),
        method: :patch,
        class: "btn btn-info",
        disabled: mark_as_sent_disabled? %>
    <%= button_to t('invoices.mark_as_paid'),
        mark_as_paid_print_pricing_invoice_path(@print_pricing, @invoice),
        method: :patch,
        class: "btn btn-success",
        disabled: mark_as_paid_disabled? %>
  <% end %>

  <% if @show_edit %>
    <%= link_to t('actions.edit'),
        edit_print_pricing_invoice_path(@print_pricing, @invoice),
        class: "btn btn-primary" %>
  <% end %>

  <% if @show_pdf %>
    <button type="button" class="btn btn-secondary" data-action="click->pdf-generator#generatePDF">
      <i class="bi bi-file-pdf"></i> <%= t('invoices.download_pdf') %>
    </button>
  <% end %>

  <% if @show_print %>
    <button type="button" class="btn btn-outline-secondary" onclick="window.print()">
      <i class="bi bi-printer"></i> <%= t('invoices.print') %>
    </button>
  <% end %>
<% if @wrapper_class %>
</div>
<% end %>
