<div class="<%= @wrapper_class %>">
  <div class="row">
    <div class="col-md-6 offset-md-6">
      <table class="<%= @table_class %>">
        <tr>
          <td class="text-end"><strong><%= t("print_pricing.subtotal") %>:</strong></td>
          <td class="text-end" data-invoice-form-target="subtotal">
            <%= subtotal %>
          </td>
        </tr>
        <tr>
          <td class="text-end"><strong><%= t("print_pricing.total") %>:</strong></td>
          <td class="text-end" data-invoice-form-target="total">
            <%= total %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
