<% if link? %>
  <%= link_to @url, class: css_classes, **html_attrs do %>
    <% if @loading %>
      <%= render Shared::IconComponent.new(name: "arrow-clockwise", spin: true, size: "sm") %>
    <% end %>
    <% if icon_left? %>
      <%= render Shared::IconComponent.new(name: @icon, size: "sm") %>
    <% end %>
    <%= button_content %>
    <% if icon_right? %>
      <%= render Shared::IconComponent.new(name: @icon, size: "sm") %>
    <% end %>
  <% end %>
<% else %>
  <button class="<%= css_classes %>" <%= tag.attributes(html_attrs) %>>
    <% if @loading %>
      <%= render Shared::IconComponent.new(name: "arrow-clockwise", spin: true, size: "sm") %>
    <% end %>
    <% if icon_left? %>
      <%= render Shared::IconComponent.new(name: @icon, size: "sm") %>
    <% end %>
    <%= button_content %>
    <% if icon_right? %>
      <%= render Shared::IconComponent.new(name: @icon, size: "sm") %>
    <% end %>
  </button>
<% end %>
