<div class="<%= modal_classes %>" <%= tag.attributes(modal_attrs) %>>
  <div class="<%= dialog_classes %>">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%= @id %>Title"><%= @title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <% if body? %>
        <div class="modal-body">
          <%= body %>
        </div>
      <% end %>
      
      <% if footer? %>
        <div class="modal-footer">
          <%= footer %>
        </div>
      <% end %>
    </div>
  </div>
</div>
