<%= form_with(model: [@print_pricing, @invoice], local: true, data: { controller: "invoice-form", invoice_form_currency_value: @invoice.currency, invoice_form_default_currency_value: @print_pricing.default_currency }) do |form| %>
<% if @invoice.errors.any? %>
<div class="alert alert-danger">
    <h4><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h4>
    <ul>
        <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="row g-3">
    <!-- Company Information Info Card -->
    <div class="col-12">
        <%= render "invoices/partials/form/company_info" %>
    </div>

    <!-- Client Selection -->
    <div class="col-12">
        <%= render "invoices/partials/form/client", form: form %>
    </div>

    <!-- Invoice Details -->
    <div class="col-12">
        <%= render "invoices/partials/form/details", form: form, invoice: @invoice %>
    </div>

    <!-- Line Items -->
    <div class="col-12">
        <%= render "invoices/partials/line_items/card", form: form, invoice: @invoice, currency: @invoice.currency || @print_pricing.default_currency %>
    </div>

    <!-- Payment Details & Notes -->
    <%= render "invoices/partials/form/payment_notes", form: form %>

    <!-- Actions -->
    <div class="col-12">
        <%= render "invoices/partials/form/actions", form: form, invoice: @invoice, print_pricing: @print_pricing %>
    </div>
</div>
<% end %>
