<div class="modal fade" id="<%= @id %>" tabindex="-1" aria-labelledby="<%= @id %>Label" aria-hidden="true">
  <div class="<%= modal_dialog_classes %>">
    <div class="modal-content">
      <% if header? || @title %>
        <div class="modal-header">
          <% if header? %>
            <%= header %>
          <% else %>
            <h5 class="modal-title" id="<%= @id %>Label"><%= @title %></h5>
          <% end %>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <% end %>

      <div class="modal-body">
        <% if body? %>
          <%= body %>
        <% else %>
          <%= content %>
        <% end %>
      </div>

      <% if footer? || show_default_footer? %>
        <div class="modal-footer">
          <% if footer? %>
            <%= footer %>
          <% else %>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
