<div class="col-md-6">
  <%= form.label :status, t("invoices.fields.status"), class: "form-label" %>
  <%= form.select :status, 
        invoice_status_options(invoice.status),
        {}, class: "form-select" %>
</div>

<div class="col-md-6">
  <%= form.label :currency, t("invoices.fields.currency"), class: "form-label" %>
  <%= form.select :currency,
        options_for_select(currency_options, invoice.currency || current_user.default_currency),
        { prompt: "Select currency" }, class: "form-select" %>
  <div class="form-text"><%= t("invoices.fields.currency_help") %></div>
</div>
