<!-- Demo Limitations Notice -->
<%= render Shared::AlertComponent.new(variant: "info", icon: "info-circle", dismissible: false, html_options: { class: "mt-4" }) do %>
  <h5><%= t('demo.limitations.title') %></h5>
  <p class="mb-2"><%= t('demo.limitations.description') %></p>
  <ul class="mb-2">
    <% t('demo.limitations.features').each do |feature| %>
      <li><%= feature %></li>
    <% end %>
  </ul>
  <%= link_to t('demo.start_free_trial'), new_user_registration_path,
      class: "btn btn-primary",
      onclick: "if(typeof trackSignupStart === 'function') trackSignupStart();" %>
<% end %>