<!-- Bootstrap 5 Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <%= link_to root_path, class: "navbar-brand gap-1 pb-2 d-flex align-items-center" do %>
        <%= image_tag "calcumake.svg", alt: "CalcuMake", class: "navbar-brand-logo" %>
        <span><%= t('nav.brand') %></span>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to t('nav.print_pricings'), print_pricings_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to t('nav.new_pricing'), new_print_pricing_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to t('nav.my_printers'), printers_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="materialsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= t('nav.materials') %>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="materialsDropdown">
                        <li><%= link_to t('nav.all_materials'), materials_path, class: "dropdown-item" %></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <h6 class="dropdown-header"><%= t('nav.filaments_header') %></h6>
                        </li>
                        <li><%= link_to t('nav.my_filaments'), filaments_path, class: "dropdown-item" %></li>
                        <li><%= link_to t('nav.add_filament'), new_filament_path, class: "dropdown-item" %></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <h6 class="dropdown-header"><%= t('nav.resins_header') %></h6>
                        </li>
                        <li><%= link_to t('nav.my_resins'), resins_path, class: "dropdown-item" %></li>
                        <li><%= link_to t('nav.add_resin'), new_resin_path, class: "dropdown-item" %></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <%= link_to t('nav.invoices'), invoices_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to t('nav.clients'), clients_path, class: "nav-link" %>
                </li>
                <% if current_user.pro? || current_user.admin? %>
                <li class="nav-item">
                    <%= link_to analytics_path, class: "nav-link" do %>
                        <%= t('nav.analytics') %>
                    <% end %>
                </li>
                <% else %>
                <li class="nav-item">
                    <%= link_to analytics_path, class: "nav-link" do %>
                        <%= t('nav.analytics') %>
                        <span class="badge bg-warning text-dark ms-1" style="font-size: 0.7rem;">Pro</span>
                    <% end %>
                </li>
                <% end %>
                <li class="nav-item">
                    <%= link_to t('nav.profile'), user_profile_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="helpDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= t('nav.help') %>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="helpDropdown">
                        <% if user_signed_in? %>
                        <li><%= link_to t('nav.usage_and_subscription', default: 'Usage & Subscription'), user_profile_path, class: "dropdown-item" %></li>
                        <% end %>
                        <li>
                            <h6 class="dropdown-header"><%= t('nav.legal_header', default: 'Legal & Privacy') %></h6>
                        </li>
                        <li><%= link_to t('legal.privacy_policy.nav_title'), privacy_policy_path, class: "dropdown-item" %></li>
                        <li><%= link_to t('legal.user_agreement.nav_title'), user_agreement_path, class: "dropdown-item" %></li>
                        <li><%= link_to t('legal.commerce_disclosure.nav_title'), commerce_disclosure_path, class: "dropdown-item" %></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header"><%= t('nav.developer_header', default: 'Developer') %></h6>
                        </li>
                        <li><%= link_to t('api_documentation.nav_title'), api_documentation_path, class: "dropdown-item" %></li>
                        <% if user_signed_in? %>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header"><%= t('nav.data_rights_header', default: 'Your Data Rights') %></h6>
                        </li>
                        <li><%= link_to t('nav.export_data', default: 'Export My Data'), data_export_path, class: "dropdown-item" %></li>
                        <li><%= link_to t('nav.delete_account', default: 'Delete My Account'), data_deletion_path, class: "dropdown-item text-danger" %></li>
                        <% end %>
                    </ul>
                </li>
                <li class="nav-item">
                    <%= link_to t('nav.sign_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
                </li>
                <% else %>
                <li class="nav-item">
                    <%= link_to t('nav.sign_in'), new_user_session_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to t('nav.sign_up'), new_user_registration_path, class: "nav-link" %>
                </li>
                <li class="nav-item ms-2 d-flex align-items-center">
                    <%= link_to t('nav.calculate_now'), pricing_calculator_path, class: "nav-link fw-semibold border rounded px-2 py-1" %>
                </li>
                <% end %>
            </ul>

            <!-- Blog, Support Link and Language Selector -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to t('nav.blog'), blog_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to t('support.nav_title'), support_path, class: "nav-link" %>
                </li>
            </ul>
            <div class="navbar-text">
                <%= form_with url: switch_locale_path, method: :post, local: true, class: "d-flex" do |form| %>
                <%= render Forms::SelectFieldComponent.new(
                    form: form,
                    attribute: :locale,
                    choices: [
                      [t('language_name', locale: :en), 'en'],
                      [t('language_name', locale: :ja), 'ja'],
                      [t('language_name', locale: :'zh-CN'), 'zh-CN'],
                      [t('language_name', locale: :hi), 'hi'],
                      [t('language_name', locale: :es), 'es'],
                      [t('language_name', locale: :fr), 'fr'],
                      [t('language_name', locale: :ar), 'ar']
                    ],
                    label: false,
                    wrapper: false,
                    html_options: {
                      class: "form-select-sm",
                      onchange: "this.form.submit();",
                      title: t('nav.language'),
                      style: "width: auto;"
                    },
                    select_options: { selected: I18n.locale.to_s }
                  ) %>
                <% end %>
            </div>
        </div>
    </div>
</nav>