<%# Landing page for CalcuMake - conversion optimized for 3D printing enthusiasts %>

<%# Override page title and meta tags for SEO %>
<% content_for :title, @page_title %>
<% content_for :meta_description, @meta_description %>
<% content_for :meta_keywords, @meta_keywords %>

<%# Add landing page specific structured data %>
<% content_for :structured_data do %>
<script type="application/ld+json">
    <%= @structured_data.to_json.html_safe %>
</script>
<% end %>

<%# Include locale suggestion banner at the top %>
<%= render 'shared/locale_suggestion_banner' %>

<%# SideProjectors "For Sale" badge - fixed position top-right %>
<a href='https://www.sideprojectors.com/project/71841/calcumake-3d-print-cost-calculator-and-project-management' alt='CalcuMake - 3D Print Cost Calculator & Project Management is for sale at @SideProjectors' target="_blank" rel="noopener noreferrer">
  <img style='position:fixed;z-index:1000;top:-5px; right: 20px; border: 0;' src='https://www.sideprojectors.com/img/badges/badge_2_red.png' alt='CalcuMake - 3D Print Cost Calculator & Project Management is sale at @SideProjectors'>
</a>

<div class="landing-page">
    <%= render 'pages/landing/hero' %>
    <%= render 'pages/landing/problem' %>
    <%= render 'pages/landing/features' %>
    <%= render 'pages/landing/pricing' %>
    <%= render 'pages/landing/faq' %>
    <%= render 'pages/landing/final_cta' %>
</div>