<% if user.company_logo.attached? %>
  <img src="<%= url_for(user.company_logo_url) %>" alt="Company Logo" class="invoice-company-logo mb-3" crossorigin="anonymous">
<% end %>
<% if invoice.company_name.present? %>
  <h4><%= invoice.company_name %></h4>
<% end %>
<% if invoice.company_address.present? %>
  <p class="mb-0 invoice-preformatted-text"><%= invoice.company_address %></p>
<% end %>
<% if invoice.company_email.present? %>
  <p class="mb-0"><%= invoice.company_email %></p>
<% end %>
<% if invoice.company_phone.present? %>
  <p class="mb-0"><%= invoice.company_phone %></p>
<% end %>
