<h1 class="mb-3"><%= t('invoices.title').singularize %></h1>
<p class="mb-1"><strong><%= t('invoices.fields.invoice_number') %>:</strong> <%= invoice.invoice_number %></p>
<p class="mb-1"><strong><%= t('invoices.fields.invoice_date') %>:</strong> <%= l(invoice.invoice_date, format: :long) %></p>
<% if invoice.due_date.present? %>
<p class="mb-1"><strong><%= t('invoices.fields.due_date') %>:</strong> <%= l(invoice.due_date, format: :long) %></p>
<% end %>
<p class="mb-1">
    <%= invoice_status_badge(invoice) %>
</p>