<% if @wrapper %>
  <div class="<%= @wrapper_class %>">
    <% if show_label? %>
      <%= @form.label @attribute, label_text, class: "form-label" %>
    <% end %>
    <% case @type %>
    <% when :text %>
      <%= @form.text_field @attribute, field_options %>
    <% when :email %>
      <%= @form.email_field @attribute, field_options %>
    <% when :number %>
      <%= @form.number_field @attribute, field_options %>
    <% when :password %>
      <%= @form.password_field @attribute, field_options %>
    <% when :date %>
      <%= @form.date_field @attribute, field_options %>
    <% when :textarea %>
      <%= @form.text_area @attribute, field_options %>
    <% end %>
    <% if show_hint? %>
      <small class="form-text text-muted"><%= @hint %></small>
    <% end %>
  </div>
<% else %>
  <% if show_label? %>
    <%= @form.label @attribute, label_text, class: "form-label" %>
  <% end %>
  <% case @type %>
  <% when :text %>
    <%= @form.text_field @attribute, field_options %>
  <% when :email %>
    <%= @form.email_field @attribute, field_options %>
  <% when :number %>
    <%= @form.number_field @attribute, field_options %>
  <% when :password %>
    <%= @form.password_field @attribute, field_options %>
  <% when :date %>
    <%= @form.date_field @attribute, field_options %>
  <% when :textarea %>
    <%= @form.text_area @attribute, field_options %>
  <% end %>
  <% if show_hint? %>
    <small class="form-text text-muted"><%= @hint %></small>
  <% end %>
<% end %>

