<% if render_wrapper? %>
<div class="<%= @wrapper_class %>">
<% end %>
  <div class="<%= @card_class %>">
    <div class="<%= @header_class %>">
      <h5 class="mb-0"><%= @title %></h5>
    </div>
    <div class="card-body">
      <% if body_wrapper_class %>
      <div class="<%= body_wrapper_class %>">
        <%= content %>
      </div>
      <% else %>
        <%= content %>
      <% end %>

      <% if show_help? %>
        <div class="form-text mt-2">
          <% if help? %>
            <%= help %>
          <% else %>
            <%= @help_text %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% if render_wrapper? %>
</div>
<% end %>
