<%= form_with model: print_pricing, local: true, html: { id: "pricing-form", class: "row g-3" } do |form| %>
  <%= render Forms::ErrorsComponent.new(model: print_pricing) %>

  <!-- Basic Information Section -->
  <%= render 'print_pricings/form_sections/basic_information', f: form %>

  <!-- Plates Section -->
  <%= render 'print_pricings/form_sections/plates', f: form %>

  <!-- Info Sections Row (Electricity & Machine) -->
  <%= render 'print_pricings/form_sections/info_sections' %>

  <!-- Labor & Other Costs Row -->
  <%= render 'print_pricings/form_sections/labor_costs', f: form %>
  <%= render 'print_pricings/form_sections/other_costs', f: form %>

  <!-- Form Actions -->
  <div class="col-12">
    <div class="d-flex gap-3 justify-content-center pt-3 border-top">
      <%= form.submit t('print_pricing.buttons.calculate_save'), class: "btn btn-primary btn-lg" %>
      <%= link_to t('print_pricing.buttons.cancel'), print_pricings_path, class: "btn btn-outline-secondary btn-lg" %>
    </div>
  </div>
<% end %>
