<div class="hero-section">
    <h1><%= t('print_pricing.index.title') %></h1>
    <p class="hero-subtitle">
        <%= t('print_pricing.index.subtitle') %>
    </p>
    <%= link_to t('print_pricing.index.create_new'), new_print_pricing_path, class: "button" %>
</div>

<% if @print_pricings.any? %>
  <%= render "shared/components/stats_cards", print_pricings: @print_pricings %>

  <div class="row g-3">
    <% @print_pricings.each do |pricing| %>
      <%= render "shared/components/pricing_card", pricing: pricing %>
    <% end %>
  </div>
<% else %>
<div class="empty-state">
    <h3><%= t('print_pricing.index.empty_state.title') %></h3>
    <p>
        <%= t('print_pricing.index.empty_state.description') %>
    </p>
    <%= link_to t('print_pricing.index.create_new'), new_print_pricing_path, class: "button" %>
</div>
<% end %>