<div class="col-12">
    <div class="card pricing-card h-100">
        <div class="card-body">
            <div class="row align-items-center gy-3 gy-lg-0">
                <div class="col-lg-3">
                    <div class="d-flex flex-column align-items-center align-items-lg-start text-center text-lg-start">
                        <h5 class="card-title mb-1">
                            <%= link_to pricing.job_name, pricing, class: "text-decoration-none text-primary fw-bold" %>
                        </h5>
                        <small class="created-date d-block mb-2 text-center text-lg-start">
                            <%= format_creation_date(pricing) %>
                        </small>
                    </div>
                    <%= pricing_card_metadata_badges(pricing) %>
                </div>

                <div class="col-lg-1 d-none d-lg-block text-center">
                    <span class="badge bg-secondary">
                        <%= pricing.default_currency %>
                    </span>
                </div>

                <div class="col-lg-2 d-none d-lg-block text-center">
                    <span class="text-muted">
                        <%= format_print_time(pricing) %>
                    </span>
                </div>

                <div class="col-lg-2 text-center">
                    <div class="d-flex flex-column align-items-center">
                        <small class="times-printed-label d-lg-none mb-1"><%= t('print_pricing.times_printed') %></small>
                        <%= render "shared/components/times_printed_control", pricing: pricing %>
                    </div>
                </div>

                <div class="col-lg-2 text-center">
                    <span class="badge bg-success fs-6">
                        <%= pricing.default_currency %> <%= format_currency(pricing.final_price, pricing.default_currency) %>
                    </span>
                </div>

                <div class="col-lg-2">
                    <%= pricing_card_actions(pricing) %>
                </div>
            </div>
        </div>
    </div>
</div>